<div *ngIf="wrongAspect === false">
  <div class="header">
    <div class="menu-wrapper">
      <button
        *ngIf="appState.status === AppStatus.Game || appState.status === AppStatus.OutOfWords"
        class="menu-button"
        (click)="toggleMenu()"
      >
        ☰
      </button>
      <button
        *ngIf="appState.status !== AppStatus.Game && appState.status !== AppStatus.OutOfWords"
        class="menu-button"
        (click)="updateAppStatus(AppStatus.Game)"
      >
        ←
      </button>
      <div
        *ngIf="appState.status === AppStatus.Game || appState.status === AppStatus.OutOfWords"
        class="menu"
        [ngClass]="{ 'menu-expanded': isMenuExpanded }"
      >
        <div class="menu-item" *ngIf="getTotalScore() >= 25" (click)="updateAppStatus(AppStatus.Meta)">Upgrades</div>
        <div class="menu-item" (click)="updateAppStatus(AppStatus.Stats)">Statistics</div>
        <div class="menu-item" (click)="updateAppStatus(AppStatus.Help)">Help</div>
        <div class="menu-item" (click)="updateAppStatus(AppStatus.About)">About</div>
      </div>
    </div>
    <div
      class="score-wrapper"
      [ngClass]="{ 'score-decrease': scoreDecreased }"
      *ngIf="appState.status === AppStatus.Game || appState.status === AppStatus.OutOfWords"
      (click)="
        showHelp(
          '<strong>☁️ Clouds ☁️</strong><p>You earn ☁️ by guessing words correctly</p><p>Spend your ☁️ on upgrades to help you progress faster</p><p>Each incorrect letter guess costs 1 ☁️</p><p>You’ll never drop below 2 ☁️, no matter how many mistakes you make</p>'
        )
      "
    >
      <span *ngIf="appState.gameProgress[this.appState.mode].boostActive">
        {{ currentScore }}
        <img src="assets/goldcloud.png" alt="Boosted Cloud" style="height: 1.4em; vertical-align: middle" />
      </span>
      <span *ngIf="!appState.gameProgress[this.appState.mode].boostActive"> {{ currentScore }} ☁️ </span>
    </div>
    <div
      class="progress-wrapper"
      *ngIf="appState.status === AppStatus.Game || appState.status === AppStatus.OutOfWords"
      (click)="
        showHelp(
          '<strong>Word Progress</strong><p>The first number is how many words you have guessed</p><p>The second is the total number of words in the game</p><p>Keep going to earn more ☁️ and unlock upgrades!</p>'
        )
      "
    >
      <span>{{ practiceState.currentPracticeWordIndex }}/{{ WordList.length }}</span>
    </div>
  </div>
  <div *ngIf="appState.status === AppStatus.Help" class="game-container">
    <app-help [wordCount]="WordList.length" (onClose)="updateAppStatus(AppStatus.Game)"></app-help>
  </div>
  <div *ngIf="appState.status === AppStatus.About" class="game-container">
    <app-about></app-about>
  </div>
  <div *ngIf="appState.status === AppStatus.OutOfWords" class="game-container">
    <app-outofwords></app-outofwords>
  </div>
  <div *ngIf="appState.status === AppStatus.Stats" class="game-container">
    <h2 style="padding: 0; margin-top: 0">☁️ Statistics ☁️</h2>
    <div style="max-width: 400px; width: 70%; margin: 0 auto">
      <div style="display: flex; justify-content: space-between; padding: 4px 0">
        <span>Words guessed:</span>
        <span>{{ practiceState.currentPracticeWordIndex }}</span>
      </div>
      <div style="display: flex; justify-content: space-between; padding: 4px 0">
        <span>Words remaining:</span>
        <span>{{ WordList.length - practiceState.currentPracticeWordIndex }}</span>
      </div>
      <div style="display: flex; justify-content: space-between; padding: 4px 0">
        <span>Available:</span>
        <span>{{ practiceState.totalScore }}☁️</span>
      </div>
      <div style="display: flex; justify-content: space-between; padding: 4px 0">
        <span>Total:</span>
        <span>{{ getTotalScore() }}☁️</span>
      </div>
      <div style="display: flex; justify-content: space-between; padding: 4px 0">
        <span>Average per word:</span>
        <span>{{ (getTotalScore() / practiceState.currentPracticeWordIndex | number : "1.0-2") || 0 }}☁️</span>
      </div>
    </div>
  </div>
  <div *ngIf="appState.status === AppStatus.Meta" class="meta-container">
    <h2 style="padding: 0; margin-top: 0px">☁️ Upgrades ☁️</h2>
    <div>
      <div class="meta-item">☁️ available</div>
      <div class="meta-progress">{{ practiceState.totalScore }}/{{ getTotalScore() }}</div>
      <button class="meta-button" (click)="resetMetaProgress()">Refund</button>
    </div>
    <div *ngFor="let metaItem of MetaSettings | keyvalue : originalOrder">
      <div class="meta-item" (click)="showHelp(MetaSettings[metaItem.key].explanation)">
        {{ metaItem.key }}
      </div>
      <div class="meta-progress">
        {{ practiceState.metaProgress[castVariableToKeyOfMetaProgress(metaItem.key)] }}/{{
          MetaSettings[metaItem.key].maxValue
        }}
      </div>
      <button
        class="meta-button"
        [disabled]="
          practiceState.metaProgress[castVariableToKeyOfMetaProgress(metaItem.key)] >=
            MetaSettings[metaItem.key].maxValue || practiceState.totalScore < MetaSettings[metaItem.key].price
        "
        (click)="setMetaProgress(castVariableToKeyOfMetaProgress(metaItem.key))"
      >
        {{ metaItem.value.price }}☁️
      </button>
    </div>
  </div>
  <div *ngIf="helpVisible" class="help-popup" (click)="closeHelp()">
    <div class="popup-content">
      <p [innerHTML]="helpText"></p>
      <button (click)="closeHelp()">Close</button>
    </div>
  </div>
  <div *ngIf="appState.status === AppStatus.Game" class="game-container">
    <div class="word">
      <div class="letter-boxes">
        <div
          class="cloud cloud-left"
          [ngClass]="{ boosted: appState.gameProgress[this.appState.mode].boostActive }"
          *ngIf="!isGameOver() && currentWordMarkup.beginningVisible === false"
          (click)="
            showHelp(
              '<strong>☁️ Cloud Cover ☁️</strong><p>Each word starts hidden between two clouds — one on the left, one on the right.</p> <p>These clouds obscure how many letters come before and after your guesses.</p> <p>The left cloud disappears when you guess the <b>first letter</b> of the word.</p> <p>The right cloud disappears when you guess the <b>last letter</b>.</p> <p>Until then, the word remains partially hidden — so guess wisely!</p>'
            )
          "
        ></div>
        <span
          *ngFor="let letter of currentWordMarkup.visibleLetters.split('')"
          [ngClass]="{
        'correct-letter': appState.gameProgress[this.appState.mode].guessedLetters.includes(letter)||isGameOver(),
      }"
        >
          {{ appState.gameProgress[this.appState.mode].guessedLetters.includes(letter) || isGameOver() ? letter : "" }}
        </span>
        <div
          class="cloud cloud-right"
          [ngClass]="{ boosted: appState.gameProgress[this.appState.mode].boostActive }"
          *ngIf="!isGameOver() && currentWordMarkup.endVisible === false"
          (click)="
            showHelp(
              '<strong>☁️ Cloud Cover ☁️</strong><p>Each word starts hidden between two clouds — one on the left, one on the right.</p> <p>These clouds obscure how many letters come before and after your guesses.</p> <p>The left cloud disappears when you guess the <b>first letter</b> of the word.</p> <p>The right cloud disappears when you guess the <b>last letter</b>.</p> <p>Until then, the word remains partially hidden — so guess wisely!</p>'
            )
          "
        ></div>
      </div>
    </div>
    <div class="category" *ngIf="practiceState.metaProgress['Category visible'] >= 1 || isGameOver()">
      {{ getStyledCategory() }}
    </div>
    <div class="definition" *ngIf="practiceState.metaProgress['Definition visible'] >= 1 || isGameOver()">
      🔍
      {{ isGameOver() ? currentWord.definition : getMaskedDefinition }}
    </div>
    <div *ngIf="!isGameOver()" class="keyboard">
      <div class="keyboardrow" *ngFor="let row of KeyboardLayout">
        <button
          *ngFor="let letter of row"
          (click)="guessLetter(letter)"
          [disabled]="
            appState.gameProgress[this.appState.mode].guessedLetters.includes(letter) ||
            appState.gameProgress[this.appState.mode].removedLetters.includes(letter)
          "
          [ngClass]="{
            guessedincorrect:
              appState.gameProgress[this.appState.mode].guessedLetters.includes(letter) &&
              !currentWord.word.includes(letter),
            guessedcorrect:
              appState.gameProgress[this.appState.mode].guessedLetters.includes(letter) &&
              currentWord.word.includes(letter),
            removedletter: appState.gameProgress[this.appState.mode].removedLetters.includes(letter)
          }"
        >
          {{ letter }}
        </button>
      </div>
    </div>
    <div *ngIf="isGameOver()" class="win-screen">
      <div class="win-message">{{ getWinMessage() }}</div>
      <div>Earned: +{{ currentScore }} ☁️</div>
      <div>Balance: {{ practiceState.totalScore }} ☁️</div>
      <div>&nbsp;</div>
      <div class="buttons">
        <button #newWordButton (click)="newWord()">New Word</button>
        <button
          [class.daily-boost]="remainingBoosts > 0"
          [disabled]="boostDisabled"
          (click)="newWord(true)"
          *ngIf="practiceState.metaProgress['Daily boost'] >= 1"
        >
          Daily Boost <br />
          <span *ngIf="!boostDisabled">({{ remainingBoosts }}/{{ practiceBoostLimit }})</span>
          <span *ngIf="boostDisabled"
            ><app-countdown-timer
              [targetTime]="practiceState.practiceBoostsResetTime"
              (countdownComplete)="resetPracticeBoostTimer()"
            ></app-countdown-timer
          ></span>
        </button>
        <button
          [attr.aria-disabled]="getTotalScore() < 25"
          [class.disabled]="getTotalScore() < 25"
          [class.pulsing-upgrade]="isAnyMetaAffordable()"
          (click)="getTotalScore() < 25 ? showHelp('Earn 25 ☁️ to unlock upgrades!') : updateAppStatus(AppStatus.Meta)"
        >
          Upgrades
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="wrongAspect === true">
  <div class="wrong-aspect-ratio">
    <div>Please rotate your device to play the game.</div>
  </div>
</div>
